include dash_uploader_ng/_build/dash_uploader_ng.min.js
include dash_uploader_ng/_build/dash_uploader_ng.min.js.map
include dash_uploader_ng/_build/metadata.json
include dash_uploader_ng/_build/package-info.json
include README.md
include docs/README-PyPi.md
include LICENSE
include package.json
